.git/
.github/
docker/
var/
vendor/
node_modules/
*.log
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml
.env
.gitignore
README.md
tests/
coverage/
.cache
.idea/
.vscode/
*.sql
*.tar
*.gz
backups/